<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title th:text="${p.gameName} + ' #' + ${p.tagLine} + ' - 프로필'">소환사 프로필</title>
        <link rel="stylesheet" href="/static/css/profile.css"/>

    </head>

    <body>
        <section class="container">
            <div class="profile-header"
                 th:insert="~{summoner/fragments/profile-header ::
                 profileHeader(p=${p},
                 profileIconUrl=${profileIconUrl},
                 lastUpdated=${lastUpdated},
                 refreshUrl=${refreshUrl},
                 badges=${badges})}">
            </div>
        </section>
    </body>
</html>
