<section class="tab-panel" id="tab-build" th:fragment="build(positions)">
<!--    <div class="build-position" id="build-position">-->
<!--        <button class="position-btn" data-pos="Top">-->
<!--            <img class="position-img" src="/static/images/position/Top.png" alt="Top"/>-->
<!--        </button>-->
<!--        <button class="position-btn" data-pos="Jungle">-->
<!--            <img class="position-img" src="/static/images/position/Jungle.png" alt="Jungle"/>-->
<!--        </button>-->
<!--    </div>-->
    <div class="build-position" id="build-position">
        <button class="position-btn" th:each="p : ${positions}" th:attr="data-pos=${p.name}">
            <img class="position-img" th:src="${p.icon}" th:alt="${p.name}"/>
        </button>
    </div>

    <!-- 룬 페이지 -->
    <h2>징크스 빌드</h2>
    <div>
        <div class="rune-page">
            <!-- 빌드 -->
            <div class="tree">
                <img src="/static/images/runes/Precision/7201_Precision.png" alt="정밀"/>
                <img src="/static/images/runes/Domination/7200_Domination.png" alt="지배"/>
                <img src="/static/images/runes/Sorcery/7202_Sorcery.png" alt="마법"/>
                <img src="/static/images/runes/Resolve/7204_Resolve.png" alt="결의"/>
                <img src="/static/images/runes/Inspiration/7203_Whimsy.png" alt="영감"/>
            </div>

            <!-- 주 룬 트리 -->
            <div class="rune-tree primary">
                <div class="rune-slots">
                    <div class="rune-row">
                        <img class="rune-icon" src="/static/images/runes/Precision/LethalTempoTemp.png" alt="치명적 속도" />
                    </div>

                    <div class="rune-row">
                        <img class="rune-icon" src="/static/images/runes/Precision/CoupDeGrace.png" alt="승전보" />
                    </div>

                    <div class="rune-row">
                        <img class="rune-icon" src="/static/images/runes/Precision/LegendAlacrity.png" alt="전설: 민첩함" />
                    </div>

                    <div class="rune-row">
                        <img class="rune-icon" src="/static/images/runes/Precision/CutDown.png" alt="체력차 극복" />
                    </div>
                </div>
            </div>

            <!-- 보조 룬 트리 -->
            <div class="rune-tree secondary">
                <div class="rune-slots">
                    <div class="rune-row">
                        <img class="rune-icon" src="/static/images/runes/Inspiration/7203_Whimsy.png" alt="영감"/>
                    </div>

                    <div class="rune-row">
                        <img class="rune-icon" src="/static/images/runes/Inspiration/MagicalFootwear.png" alt="마법의 신발"/>
                    </div>

                    <div class="rune-row">
                        <img class="rune-icon" src="/static/images/runes/Inspiration/BiscuitDelivery.png" alt="비스킷 배달"/>
                    </div>

                    <div class="rune-row">
                        <img class="rune-icon" src="/static/images/runes/Inspiration/CosmicInsight.png" alt="우주적 통찰력"/>
                    </div>
                </div>
            </div>
        </div>

        <!-- 스탯 파편 -->
        <div class="stat-mods">
            <div class="rune-row">
                <img class="mods-icon" src="/static/images/runes/Statmods/statmodsadaptiveforceicon.png" alt="Adaptive Force"/>
            </div>
        </div>
    </div>
</section>
