<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyLOL Index</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<!-- 상단 리본 메뉴 -->
<header class="header">
    <div class="container">
        <h1 class="logo">
            <a>MyLOL</a>
        </h1>
        <nav class="nav">
            <ul>
                <li><a th:href="'/champion/champions'">챔피언</a></li>
            </ul>
        </nav>
    </div>
</header>

<!-- 중앙 검색 박스 -->
<main class="main">
    <div class="search-box">
        <h2>소환사 정보 검색</h2>
        <form method="get">
            <input type="text" name="name" placeholder="소환사 이름 입력">
            <button type="submit">검색</button>
        </form>
    </div>
</main>
</body>
</html>
